<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>About us</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.png" th:href="@{/images/favicon.png}">
    <!-- CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/vendor/bootstrap.min.css" th:href="@{/css/vendor/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/vendor/slick.css" th:href="@{/css/vendor/slick.css}">
    <link rel="stylesheet" href="../static/css/vendor/slick-theme.css" th:href="@{/css/vendor/slick-theme.css}">
    <link rel="stylesheet" href="../static/css/plugins/sal.css" th:href="@{/css/plugins/sal.css}">
    <link rel="stylesheet" href="../static/css/plugins/feather.css" th:href="@{/css/plugins/feather.css}">
    <link rel="stylesheet" href="../static/css/plugins/fontawesome.min.css"
          th:href="@{/css/plugins/fontawesome.min.css}">
    <link rel="stylesheet" href="../static/css/plugins/euclid-circulara.css"
          th:href="@{/css/plugins/euclid-circulara.css}">
    <link rel="stylesheet" href="../static/css/plugins/swiper.css" th:href="@{/css/plugins/swiper.css}">
    <link rel="stylesheet" href="../static/css/plugins/magnify.css" th:href="@{/css/plugins/magnify.css}">
    <link rel="stylesheet" href="../static/css/plugins/odometer.css" th:href="@{/css/plugins/odometer.css}">
    <link rel="stylesheet" href="../static/css/plugins/animation.css" th:href="@{/css/plugins/animation.css}">
    <link rel="stylesheet" href="../static/css/plugins/bootstrap-select.min.css"
          th:href="@{/css/plugins/bootstrap-select.min.css}">
    <link rel="stylesheet" href="../static/css/plugins/jquery-ui.css" th:href="@{/css/plugins/jquery-ui.css}">
    <link rel="stylesheet" href="../static/css/plugins/magnigy-popup.min.css"
          th:href="@{/css/plugins/magnigy-popup.min.css}">
    <link rel="stylesheet" href="../static/css/plugins/plyr.css" th:href="@{/css/plugins/plyr.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>

<body class="rbt-header-sticky">

<!-- Start Header Area -->
<header class="rbt-header rbt-header-10">
    <div class="rbt-sticky-placeholder"></div>
<!--    <div class="rbt-header-top rbt-header-top-1 header-space-betwween bg-not-transparent bg-color-darker top-expended-activation">-->
        <div class="container-fluid">
            <div class="top-expended-wrapper">
                <div class="mainbar-row rbt-navigation-center align-items-center">
                    <div class="header-left rbt-header-content mb-3 mt-3">
                        <div class="header-info">
                            <div class="logo">
                                <a href="HomeView.html.html" th:href="@{/}">
                                    <img src="../static/images/logo/logo.png" th:src="@{/images/logo/logo.png}"
                                         alt="Education Logo Images">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="header-right">

                        <!-- Navbar Icons -->

                        <div class="rbt-btn-wrapper d-none d-xl-block">
                            <a class="rbt-btn rbt-switch-btn btn-gradient btn-sm hover-transform-none" href="#"
                               th:href="@{/auth/login}">
                                <span data-text="Join Now">Join Now</span>
                            </a>
                        </div>

                    </div>
                </div>
                <a class="rbt-close_side_menu" href="javascript:void(0);"></a>
            </div>
        </div>
</header>
<a class="close_side_menu" href="javascript:void(0);"></a>
<div class="header-info">
    <div class="top-bar-expended d-block d-lg-none">
        <button class="topbar-expend-button rbt-round-btn"><i class="feather-plus"></i></button>
    </div>
</div>
<!-- Start About Area  -->
<div class="rbt-about-area about-style-1 bg-color-white rbt-section-gapTop">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="thumbnail-wrapper">
                    <div class="thumbnail image-1">
                        <img data-parallax="{&quot;x&quot;: 0, &quot;y&quot;: -20}"
                             src="https://ici.net.au/blog/wp-content/uploads/2022/01/Study-Tips.jpg" alt="Education Images"
                             style="transform:translate3d(0px, -20px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
                              -webkit-transform:translate3d(0px, -20px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); ">
                    </div>
                    <div class="thumbnail image-2 d-none d-xl-block">
                        <img data-parallax="{&quot;x&quot;: 0, &quot;y&quot;: 60}"
                             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXyG3707lYJahijjnI7saxWTvwr5y1a0ihYQ&usqp=CAU" alt="Education Images"
                             style="transform:translate3d(0px, 60px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
                              -webkit-transform:translate3d(0px, 60px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); ">
                    </div>
                    <div class="thumbnail image-3 d-none d-md-block">
                        <img data-parallax="{&quot;x&quot;: 0, &quot;y&quot;: 70}"
                             src="https://s3.envato.com/files/351129231/166_E39A2311.jpg" alt="Education Images"
                             style="transform:translate3d(0px, 70px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
                              -webkit-transform:translate3d(0px, 70px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); ">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="inner pl--80 pl_sm--0 pl_md--0">
                    <div class="section-title text-start">
<!--                        <span class="subtitle bg-coral-opacity">Know About Us</span>-->
                        <h2 class="title">Know About HiStudy <br> Learning Platform</h2>
                    </div>
                    <p class="description mt--30">Once upon a time, in the boundless expanse of the digital world,
                        a group of passionate minds gathered with a singular vision: to revolutionize education.
                        Thus, the seeds of our online study haven were sown.
                        <br>
                        <br>
                        Our mission is simple yet profound: to empower learners worldwide by providing
                        a digital sanctuary where they can explore, grow, and flourish.
                        We've meticulously curated a diverse array of courses spanning myriad disciplines,
                        handcrafted by passionate educators devoted to igniting the flames of curiosity
                        in every learner.
                    </p>
                    <!-- Start Feature List  -->
                    <div class="rbt-feature-wrapper mt--40">

                        <div class="rbt-feature feature-style-1">
                            <div class="icon bg-pink-opacity">
                                <i class="feather-heart"></i>
                            </div>
                            <div class="feature-content">
                                <h6 class="feature-title">Flexible Classes</h6>
                                <p class="feature-description">"Embrace the freedom to learn at your pace with our flexible classes.
                                    Tailored to fit your schedule,
                                    our diverse range of courses offers the flexibility you need to pursue your educational journey without constraints.
                                    Whether it's early morning or late at night, dive into learning on your terms,
                                    empowering yourself with knowledge that adapts to your life."

                                </p>
                            </div>
                        </div>

                        <div class="rbt-feature feature-style-1">
                            <div class="icon bg-primary-opacity">
                                <i class="feather-book"></i>
                            </div>
                            <div class="feature-content">
                                <h6 class="feature-title">Learn From Anywhere</h6>
                                <p class="feature-description">Whether you're at home, on the go, or halfway across the globe,
                                    our platform ensures that knowledge is always within reach, empowering you to learn
                                    and grow wherever life takes you.</p>
                            </div>
                        </div>

                        <div class="rbt-feature feature-style-1">
                            <div class="icon bg-coral-opacity">
                                <i class="feather-monitor"></i>
                            </div>
                            <div class="feature-content">
                                <h6 class="feature-title">Experienced Teachers </h6>
                                <p class="feature-description"> Our team comprises dedicated mentors with years of expertise,
                                    committed to nurturing your growth and empowering you to excel.
                                    Benefit from their wealth of knowledge, personalized support,
                                    and invaluable insights as you embark on your learning journey towards success.</p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Area  -->

<!-- Start Button Area  -->
<div class="rbt-video-area rbt-section-gapBottom pt--50 bg-color-white">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 order-2 order-lg-1">
                <div class="inner pr--50">
                    <div class="section-title text-start">
                        <span class="subtitle bg-primary-opacity">How We Work</span>
                        <h2 class="title">Build your Career And Upgrade Your Life</h2>
                        <p class="description mt--30">"At HiStudy, our approach to learning is as dynamic as your ambitions.
                            We curate a seamless experience, offering diverse courses and expert guidance to suit your goals.
                            With interactive tools, personalized support, and a commitment to innovation, we pave the way for your success.
                            Together, let's shape your educational journey with our collaborative and adaptable methodology."
                        </p>
<!--                        <div class="read-more-btn">-->
<!--                            <a class="rbt-moderbt-btn" href="#">-->
<!--                                <span class="moderbt-btn-text">Learn More About Us</span>-->
<!--                                <i class="feather-arrow-right"></i>-->
<!--                            </a>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2">
                <div class="video-popup-wrapper">
<!--                    <img class="w-100 rbt-radius" src="assets/images/others/video-01.jpg" alt="Video Images">-->
                    <iframe width="700" height="450" src="https://www.youtube.com/embed/MkwjnE_0ueM?autoplay=1" title="school intro" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        <span><img src="assets/images/icons/youtube.png" alt=""></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Button Area  -->

<div class="rbt-testimonial-area bg-color-white pb--80 overflow-hidden">
    <div class="container-fluid">
        <div class="row g-5 align-items-center">
            <div class="col-xl-3">
                <div class="section-title pl--100 pl_sm--30">
                    <span class="subtitle bg-pink-opacity">Learners Feedback</span>
                    <h2 class="title">What Our Learners Say</h2>
                    <p class="description mt--20">Learning communicate to global world and build a bright future
                        with our histudy.</p>
                    <div class="veiw-more-btn mt--20">
                        <a class="rbt-btn btn-gradient rbt-marquee-btn marquee-text-y" href="../templates/Contact.html" th:href="@{/contact}" >
                            <span data-text="Contact Us">Contact Us</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-9">
                <div class="overflow-hidden">
                    <div class="scroll-animation-wrapper pt--50 pb--30">
                        <div class="scroll-animation scroll-right-left">

                            <!-- Start Single Testimonial  -->
                            <div class="single-column-20">
                                <div class="rbt-testimonial-box">
                                    <div class="inner">
                                        <div class="clint-info-wrapper">

                                            <div class="client-info">
                                                <h5 class="title">Martha Maldonado</h5>
                                                <span>Executive Chairman <i>@ Google</i></span>
                                            </div>
                                        </div>
                                        <div class="description">
                                            <p class="subtitle-3">Thank you for being part of our online learning community!
                                                Your dedication to learning is truly appreciated.
                                                Here's to continued growth and success on your educational path!"</p>
                                            <div class="rating mt--20">
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Testimonial  -->

                            <!-- Start Single Testimonial  -->
                            <div class="single-column-20">
                                <div class="rbt-testimonial-box">
                                    <div class="inner">
                                        <div class="clint-info-wrapper">
                                            <div class="client-info">
                                                <h5 class="title">Michael D. Lovelady</h5>
                                                <span>CEO <i>@ Google</i></span>
                                            </div>
                                        </div>
                                        <div class="description">
                                            <p class="subtitle-3">"Gratitude for your engagement and commitment to learning online!
                                                Your participation fuels our shared pursuit of knowledge.
                                                Thank you for being an integral part of our learning journey!"</p>
                                            <div class="rating mt--20">
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Testimonial  -->

                            <!-- Start Single Testimonial  -->
                            <div class="single-column-20">
                                <div class="rbt-testimonial-box">
                                    <div class="inner">
                                        <div class="clint-info-wrapper">
                                            <div class="client-info">
                                                <h5 class="title">Valerie J. Creasman</h5>
                                                <span>Executive Designer <i>@ Google</i></span>
                                            </div>
                                        </div>
                                        <div class="description">
                                            <p class="subtitle-3">"Your presence in our online learning space is deeply valued.
                                                Thank you for contributing to a vibrant community dedicated to knowledge and growth.
                                                Together, we thrive in this journey of learning!"</p>
                                            <div class="rating mt--20">
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star"></i></a>
                                                <a href="#"><i class="fa fa-star"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="rbt-team-area bg-color-white rbt-section-gapBottom">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-12 mb--60">
                <div class="section-title text-center">
                    <span class="subtitle bg-pink-opacity">Skill Teacher</span>
                    <h2 class="title">Whose Inspirations You Love</h2>

                </div>
            </div>
        </div>
        <div class="row g-5">

            <!-- Start Single Team  -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="rbt-team team-style-default style-three rbt-hover">
                    <div class="inner">
                        <div class="thumbnail">
                            <img src="https://yt3.googleusercontent.com/ytc/APkrFKZiDVO_0Vv_PjJXVtSedroiUPwV0Ing64la-RRl=s176-c-k-c0x00ffffff-no-rj"
                                 alt="Corporate Template">
                        </div>
                        <div class="content">
                            <h2 class="title">John Marty</h2>
                            <h6 class="subtitle theme-gradient">Lead Java Software Engineer</h6>
                            <span class="team-form">
                                    <i class="feather-map-pin"></i>
                                    <span class="location">New York,USA</span>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->

            <!-- Start Single Team  -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="rbt-team team-style-default style-three rbt-hover">
                    <div class="inner">
                        <div class="thumbnail">
                            <img src="../static/images/team/graphicDesigner.jpg" th:src="@{/images/team/graphicDesigner.jpg}"
                                 alt="Corporate Template">
                        </div>
                        <div class="content">
                            <h2 class="title">Stanislav Hristov</h2>
                            <h6 class="subtitle theme-gradient">Web Designer</h6>
                            <span class="team-form">
                                    <i class="feather-map-pin"></i>
                                    <span class="location">Sofia,Bulgaria</span>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->

            <!-- Start Single Team  -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="rbt-team team-style-default style-three rbt-hover">
                    <div class="inner">
                        <div class="thumbnail">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9yZyF373WSegLRC8Oo6ugxmprvSOEgF07Og&usqp=CAU"
                                 alt="Corporate Template">
                        </div>
                        <div class="content">
                            <h2 class="title">Maria Petrova </h2>
                            <h6 class="subtitle theme-gradient">Graphic Designer</h6>
                            <span class="team-form">
                                    <i class="feather-map-pin"></i>
                                    <span class="location">Varna,Bulgaria</span>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->

            <!-- Start Single Team  -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="rbt-team team-style-default style-three rbt-hover">
                    <div class="inner">
                        <div class="thumbnail">
                            <img src="../static/images/team/polina.jpg"  th:src="@{/images/team/polina.jpg}"
                                 alt="Corporate Template">
                        </div>
                        <div class="content">
                            <h2 class="title">Polina Uzunova</h2>
                            <h6 class="subtitle theme-gradient">Personal Development</h6>
                            <span class="team-form">
                                    <i class="feather-map-pin"></i>
                                    <span class="location">Pleven,Bulgaria</span>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->
        </div>
    </div>
</div>

<!-- JS
============================================ -->
<!-- Modernizer JS -->
<script src="assets/js/vendor/modernizr.min.js"></script>
<!-- jQuery JS -->
<script src="assets/js/vendor/jquery.js"></script>
<!-- Bootstrap JS -->
<script src="assets/js/vendor/bootstrap.min.js"></script>
<!-- sal.js -->
<script src="assets/js/vendor/sal.js"></script>
<script src="assets/js/vendor/swiper.js"></script>
<script src="assets/js/vendor/magnify.min.js"></script>
<script src="assets/js/vendor/jquery-appear.js"></script>
<script src="assets/js/vendor/odometer.js"></script>
<script src="assets/js/vendor/backtotop.js"></script>
<script src="assets/js/vendor/isotop.js"></script>
<script src="assets/js/vendor/imageloaded.js"></script>

<script src="assets/js/vendor/wow.js"></script>
<script src="assets/js/vendor/waypoint.min.js"></script>
<script src="assets/js/vendor/easypie.js"></script>
<script src="assets/js/vendor/text-type.js"></script>
<script src="assets/js/vendor/jquery-one-page-nav.js"></script>
<script src="assets/js/vendor/bootstrap-select.min.js"></script>
<script src="assets/js/vendor/jquery-ui.js"></script>
<script src="assets/js/vendor/magnify-popup.min.js"></script>
<script src="assets/js/vendor/paralax-scroll.js"></script>
<script src="assets/js/vendor/paralax.min.js"></script>
<script src="assets/js/vendor/countdown.js"></script>
<script src="assets/js/vendor/plyr.js"></script>
<!-- Main JS -->
<script src="assets/js/main.js"></script>


</body>
</html>
