<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Contact us</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.png" th:href="@{/images/favicon.png}">
    <!-- CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/vendor/bootstrap.min.css" th:href="@{/css/vendor/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/vendor/slick.css" th:href="@{/css/vendor/slick.css}">
    <link rel="stylesheet" href="../static/css/vendor/slick-theme.css" th:href="@{/css/vendor/slick-theme.css}">
    <link rel="stylesheet" href="../static/css/plugins/sal.css" th:href="@{/css/plugins/sal.css}">
    <link rel="stylesheet" href="../static/css/plugins/feather.css" th:href="@{/css/plugins/feather.css}">
    <link rel="stylesheet" href="../static/css/plugins/fontawesome.min.css"
          th:href="@{/css/plugins/fontawesome.min.css}">
    <link rel="stylesheet" href="../static/css/plugins/euclid-circulara.css"
          th:href="@{/css/plugins/euclid-circulara.css}">
    <link rel="stylesheet" href="../static/css/plugins/swiper.css" th:href="@{/css/plugins/swiper.css}">
    <link rel="stylesheet" href="../static/css/plugins/magnify.css" th:href="@{/css/plugins/magnify.css}">
    <link rel="stylesheet" href="../static/css/plugins/odometer.css" th:href="@{/css/plugins/odometer.css}">
    <link rel="stylesheet" href="../static/css/plugins/animation.css" th:href="@{/css/plugins/animation.css}">
    <link rel="stylesheet" href="../static/css/plugins/bootstrap-select.min.css"
          th:href="@{/css/plugins/bootstrap-select.min.css}">
    <link rel="stylesheet" href="../static/css/plugins/jquery-ui.css" th:href="@{/css/plugins/jquery-ui.css}">
    <link rel="stylesheet" href="../static/css/plugins/magnigy-popup.min.css"
          th:href="@{/css/plugins/magnigy-popup.min.css}">
    <link rel="stylesheet" href="../static/css/plugins/plyr.css" th:href="@{/css/plugins/plyr.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>

<body class="rbt-header-sticky">

<header class="rbt-header rbt-header-10">
    <div class="rbt-sticky-placeholder"></div>
    <div class="container-fluid">
        <div class="top-expended-wrapper">
            <div class="mainbar-row rbt-navigation-center align-items-center">
                <div class="header-left rbt-header-content mb-3 mt-3">
                    <div class="header-info">
                        <div class="logo">
                            <a href="HomeView.html">
                                <img src="../static/images/logo/logo.png" th:src="@{/images/logo/logo.png}"
                                     alt="Education Logo Images">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
<!-- Mobile Menu Section -->
<div class="popup-mobile-menu">
    <div class="inner-wrapper">
        <nav class="mainmenu-nav">
            <div class="rbt-megamenu menu-skin-dark">
                <div class="wrapper">
                    <div class="row row--15 home-plesentation-wrapper single-dropdown-menu-presentation">


                        <li class="with-megamenu has-menu-child-item position-static menu-item-open">
                            <a href="#">Pages <i class="feather-chevron-down"></i></a>
                            <!-- Start Mega Menu  -->
                            <div class="rbt-megamenu grid-item-4">
                                <div class="wrapper">
                                    <div class="row row--15">
                                        <div class="col-lg-12 col-xl-3 col-xxl-3 single-mega-item">
                                            <h3 class="rbt-short-title">Get Started</h3>
                                            <ul class="mega-menu-item">
                                                <li><a href="about-us-01.html">About Us</a></li>
                                                <li><a href="about-us-02.html">About Us 02</a></li>
                                                <li><a href="event-grid.html">Event Grid</a></li>
                                                <li><a href="event-list.html">Event List</a></li>
                                                <li><a href="event-sidebar.html">Event Sidebar</a></li>
                                                <li><a href="event-details.html">Event Details</a></li>
                                                <li><a href="academy-gallery.html">Academy Gallery</a></li>
                                                <li><a href="admission-guide.html">Admission Guide</a></li>
                                            </ul>
                                        </div>

                                        <div class="col-lg-12 col-xl-3 col-xxl-3 single-mega-item">
                                            <h3 class="rbt-short-title">Get Started</h3>
                                            <ul class="mega-menu-item">
                                                <li><a href="profile.html">Profile</a></li>
                                                <li><a href="contact.html" class="active">Contact Us</a></li>
                                                <li><a href="become-a-teacher.html">Become a Teacher</a></li>
                                                <li><a href="instructor.html">Instructor</a></li>
                                                <li><a href="faqs.html">FAQS</a></li>
                                                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                                <li><a href="404.html">404 Page</a></li>
                                                <li><a href="maintenance.html">Maintenance</a></li>
                                            </ul>
                                        </div>

                                        <div class="col-lg-12 col-xl-3 col-xxl-3 single-mega-item">
                                            <h3 class="rbt-short-title">Shop Pages</h3>
                                            <ul class="mega-menu-item">
                                                <li><a href="shop.html">Shop <span
                                                        class="rbt-badge-card">Sale Anything</span></a>
                                                </li>
                                                <li><a href="single-product.html">Single Product</a></li>
                                                <li><a href="cart.html">Cart Page</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="wishlist.html">Wishlist Page</a></li>
                                                <li><a href="my-account.html">My Acount</a></li>
                                                <li><a href="login.html">Login &amp; Register</a></li>
                                                <li><a href="subscription.html">Subscription</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-12 col-xl-3 col-xxl-3 single-mega-item">
                                            <div class="mega-category-item">

                                                <!-- End Single Category  -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Mega Menu  -->
                        </li>
                        <li class="with-megamenu has-menu-child-item position-static">
                            <a href="#">Elements <i class="feather-chevron-down"></i></a>
                            <!-- Start Mega Menu  -->
                            <div class="rbt-megamenu grid-item-3">
                                <div class="wrapper">
                                    <div class="row row--15 single-dropdown-menu-presentation">
                                        <div class="col-lg-4 col-xxl-4 single-mega-item">
                                            <ul class="mega-menu-item">
                                                <li><a href="style-guide.html">Style Guide <span>
                                                </span></a>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="btn-wrapper">
                                                <a class="rbt-btn btn-gradient hover-icon-reverse square btn-xl w-100 text-center mt--30 hover-transform-none"
                                                   href="#">
                                                <span class="icon-reverse-wrapper">
                                        <span class="btn-text">Visit Histudy Template</span>
                                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                                </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Mega Menu  -->
                        <li class="with-megamenu has-menu-child-item position-static">
                            <a href="#">Blog <i class="feather-chevron-down"></i></a>
                            <!-- Start Mega Menu  -->
                            <div class="rbt-megamenu grid-item-3">
                                <div class="wrapper">
                           </div>
                            </div>
                    </div>
                    <!-- End Mega Menu  -->

                </div>
            </div>
        </nav>
    </div>
  <div class="mobile-menu-bottom">
        <div class="rbt-btn-wrapper mb--20">
            <a class="rbt-btn btn-border-gradient radius-round btn-sm hover-transform-none w-100 justify-content-center text-center"
               href="#">
                <span>Enroll Now</span>
            </a>
        </div>

        <div class="social-share-wrapper">
            <span class="rbt-short-title d-block">Find With Us</span>
            <ul class="social-icon social-default transparent-with-border justify-content-start mt--20">
                <li><a href="https://www.facebook.com/">
                    <i class="feather-facebook"></i>
                </a>
                </li>
                <li><a href="https://www.twitter.com">
                    <i class="feather-twitter"></i>
                </a>
                </li>
                <li><a href="https://www.instagram.com/">
                    <i class="feather-instagram"></i>
                </a>
                </li>
                <li><a href="https://www.linkdin.com/">
                    <i class="feather-linkedin"></i>
                </a>
                </li>
            </ul>
        </div>
    </div>

</div>
</div>
<!-- Start Side Vav -->
<div class="rbt-cart-side-menu">
    <div class="inner-wrapper">
        <div class="inner-top">
            <div class="content">

                <div class="rbt-btn-close" id="btn_sideNavClose">
                    <button class="minicart-close-button rbt-round-btn"><i class="feather-x"></i></button>
                </div>
            </div>
        </div>
        <nav class="side-nav w-100">
            <ul class="rbt-minicart-wrapper">
                <li class="minicart-item">
                    <button class="rbt-round-btn"><i class="feather-x"></i></button>

                </li>
            </ul>
        </nav>

    </div>
</div>
<!-- End Side Vav -->
<a class="close_side_menu" href="javascript:void(0);"></a>


<div class="rbt-conatct-area bg-gradient-11 rbt-section-gap">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-12">
                <div class="section-title text-center mb--60">
                    <span class="subtitle bg-secondary-opacity">Contact Us</span>
                    <h2 class="title">Histudy Course Contact <br> can join with us.</h2>
                </div>
            </div>
        </div>
        <div class="row g-5">
        <div class="col-lg-4 col-md-6 col-12">
            <div class="rbt-team team-style-default style-three rbt-hover">
                <div class="inner">
                    <div class="thumbnail">
                        <img src="../static/images/about/Karina.jpeg" th:src="@{/images/about/Karina.jpeg}"
                             alt="Corporate Template">
                    </div>
                    <div class="content">
                        <h2 class="title">Karina Ivanova</h2>
                        <span class="team-form">
                                    <i class="feather-map-pin"></i>
                                    <span class="location">Burgas,Bulgaria</span>
                                </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Team  -->

        <!-- Start Single Team  -->
        <div class="col-lg-4 col-md-6 col-12">
            <div class="rbt-team team-style-default style-three rbt-hover">
                <div class="inner">
                    <div class="thumbnail">
                        <img src="../static/images/about/Dimitar.png" th:src="@{/images/about/Dimitar.png}"
                             alt="Corporate Template">
                    </div>
                    <div class="content">
                        <h2 class="title">Dimitar Tsanev</h2>
                        <span class="team-form">
                                    <i class="feather-map-pin"></i>
                                    <span class="location">Varna,Bulgaria</span>
                                </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Team  -->

        <!-- Start Single Team  -->
        <div class="col-lg-4 col-md-6 col-12">
            <div class="rbt-team team-style-default style-three rbt-hover">
                <div class="inner">
                    <div class="thumbnail">
                        <img src="../static/images/team/personalDevelopment.jpg" th:src="@{/images/team/personalDevelopment.jpg}"
                             alt="Corporate Template">
                    </div>
                    <div class="content">
                        <h2 class="title">Preslav Marinov </h2>
                        <span class="team-form">
                                    <i class="feather-map-pin"></i>
                                    <span class="location">Sofia,Bulgaria</span>
                                </span>
                    </div>
                </div>
            </div>
        </div>



        <div class="row g-5">
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 sal-animate" data-sal="slide-up" data-sal-delay="150"
                 data-sal-duration="800">
                <div class="rbt-address">
                    <div class="icon">
                        <i class="feather-headphones"></i>
                    </div>
                    <div class="inner">
                        <h4 class="title">Contact Phone Number</h4>
                        <p><a href="tel:+359887774">+359 887 774</a></p>
                        <p><a href="tel:+359897654">+359 897 654</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 sal-animate" data-sal="slide-up" data-sal-delay="200"
                 data-sal-duration="800">
                <div class="rbt-address">
                    <div class="icon">
                        <i class="feather-mail"></i>
                    </div>
                    <div class="inner">
                        <h4 class="title">Our Email Address</h4>
                        <p><a href="mailto:amin.histudy@gmail.com">amin.histudy@gmail.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 sal-animate" data-sal="slide-up" data-sal-delay="250"
                 data-sal-duration="800">
                <div class="rbt-address">
                    <div class="icon">
                        <i class="feather-map-pin"></i>
                    </div>
                    <div class="inner">
                        <h4 class="title">Our Location</h4>
                        <p> 105 Arsenalski Blvd. Sofia, Bulgaria <br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="rbt-contact-address">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">

                <div class="rbt-separator-mid">
                    <div class="container">
                        <hr class="rbt-separator m-0">
                    </div>
                </div>
                <!-- Start Copyright Area  -->
                <div class="copyright-area copyright-style-1 ptb--20">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-12">
                                <p class="rbt-link-hover text-center text-lg-start">Copyright © 2023 All Rights
                                    Reserved</p>
                            </div>

                            <!-- End Footer aera -->
                            <div class="rbt-progress-parent">
                                <svg class="rbt-back-circle svg-inner" width="100%" height="100%"
                                     viewBox="-1 -1 102 102">
                                    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
                                          style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
                                </svg>
                            </div>

                            <!-- JS
                            ============================================ -->
                            <!-- Modernizer JS -->
                            <script src="assets/js/vendor/modernizr.min.js"></script>
                            <!-- jQuery JS -->
                            <script src="assets/js/vendor/jquery.js"></script>
                            <!-- Bootstrap JS -->
                            <script src="assets/js/vendor/bootstrap.min.js"></script>
                            <!-- sal.js -->
                            <script src="assets/js/vendor/sal.js"></script>
                            <script src="assets/js/vendor/swiper.js"></script>
                            <script src="assets/js/vendor/magnify.min.js"></script>
                            <script src="assets/js/vendor/jquery-appear.js"></script>
                            <script src="assets/js/vendor/odometer.js"></script>
                            <script src="assets/js/vendor/backtotop.js"></script>
                            <script src="assets/js/vendor/isotop.js"></script>
                            <script src="assets/js/vendor/imageloaded.js"></script>

                            <script src="assets/js/vendor/wow.js"></script>
                            <script src="assets/js/vendor/waypoint.min.js"></script>
                            <script src="assets/js/vendor/easypie.js"></script>
                            <script src="assets/js/vendor/text-type.js"></script>
                            <script src="assets/js/vendor/jquery-one-page-nav.js"></script>
                            <script src="assets/js/vendor/bootstrap-select.min.js"></script>
                            <script src="assets/js/vendor/jquery-ui.js"></script>
                            <script src="assets/js/vendor/magnify-popup.min.js"></script>
                            <script src="assets/js/vendor/paralax-scroll.js"></script>
                            <script src="assets/js/vendor/paralax.min.js"></script>
                            <script src="assets/js/vendor/countdown.js"></script>
                            <script src="assets/js/vendor/plyr.js"></script>
                            <!-- Main JS -->
                            <script src="assets/js/main.js"></script>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>