<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Lesson - Online Courses & Education Bootstrap5 Template</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.png" th:href="@{/images/favicon.png}">
    <!-- CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/vendor/bootstrap.min.css" th:href="@{/css/vendor/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/vendor/slick.css" th:href="@{/css/vendor/slick.css}">
    <link rel="stylesheet" href="../static/css/vendor/slick-theme.css" th:href="@{/css/vendor/slick-theme.css}">
    <link rel="stylesheet" href="../static/css/plugins/sal.css" th:href="@{/css/plugins/sal.css}">
    <link rel="stylesheet" href="../static/css/plugins/feather.css" th:href="@{/css/plugins/feather.css}">
    <link rel="stylesheet" href="../static/css/plugins/fontawesome.min.css"
          th:href="@{/css/plugins/fontawesome.min.css}">
    <link rel="stylesheet" href="../static/css/plugins/euclid-circulara.css"
          th:href="@{/css/plugins/euclid-circulara.css}">
    <link rel="stylesheet" href="../static/css/plugins/swiper.css" th:href="@{/css/plugins/swiper.css}">
    <link rel="stylesheet" href="../static/css/plugins/magnify.css" th:href="@{/css/plugins/magnify.css}">
    <link rel="stylesheet" href="../static/css/plugins/odometer.css" th:href="@{/css/plugins/odometer.css}">
    <link rel="stylesheet" href="../static/css/plugins/animation.css" th:href="@{/css/plugins/animation.css}">
    <link rel="stylesheet" href="../static/css/plugins/bootstrap-select.min.css"
          th:href="@{/css/plugins/bootstrap-select.min.css}">
    <link rel="stylesheet" href="../static/css/plugins/jquery-ui.css" th:href="@{/css/plugins/jquery-ui.css}">
    <link rel="stylesheet" href="../static/css/plugins/magnigy-popup.min.css"
          th:href="@{/css/plugins/magnigy-popup.min.css}">
    <link rel="stylesheet" href="../static/css/plugins/plyr.css" th:href="@{/css/plugins/plyr.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>

<body class="rbt-header-sticky">

<div class="rbt-lesson-area bg-color-white">
    <div class="rbt-search-dropdown">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <form action="#">
                        <input type="text" placeholder="Search in Wikipedia?">
                        <div class="submit-btn">
                            <a class="rbt-btn btn-gradient btn-md" href="#">Search</a>
                        </div>
                    </form>
                </div>
            </div>

            <div class="rbt-separator-mid">
                <hr class="rbt-separator m-0">
            </div>

            <div class="row g-4 pt--30 pb--60">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h5 class="rbt-title-style-2">Our Top Course</h5>
                    </div>
                </div>


                <!-- Start Single Card  -->
                <div class="col-lg-12 col-md-4 col-sm-6 col-12">
                    <div class="rbt-card variation-01 rbt-hover">
                        <div class="rbt-card-body">
                            <h5 class="rbt-card-title"><a href="course-details.html">Web Design</a></h5>
                            <div class="rbt-card-bottom">
                                <h6>ddddddddddddddddddddddddddddddddddddddd</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Card  -->
            </div>

        </div>
    </div>

    <div class="rbt-lesson-content-wrapper">
        <div class="rbt-lesson-leftsidebar" th:fragment="LessonLeftSideBar">


            <div class="rbt-course-feature-inner rbt-search-activation">
                <div class="section-title">
                    <h4 class="rbt-title-style-3">Course Content</h4>
                </div>

                <ul class="quick-access">
                    <li class="access-icon ms-3">
                        <a class="search-trigger-active rbt-round-btn" href="#">
                            <i class="feather-search"></i>
                        </a>
                    </li>
                    <li>

                        <input type="text" name="search_query" placeholder="Search In Wikipedia">

                    </li>
                </ul>



                <hr class="mt--10">

                <div class="rbt-accordion-style rbt-accordion-02 for-right-content accordion">


                    <div class="accordion" id="accordionExampleb2">

                        <div class="accordion-item card" th:each="lecture : ${course.getLectures()}">
                            <h2 class="accordion-header card-header" id="headingTwo1">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        aria-expanded="true" data-bs-target="#collapseTwo1" aria-controls="collapseTwo1"
                                        th:text="${lecture.getTitle()}">
                                    Welcome Histudy
                                </button>
                            </h2>
                            <div id="collapseTwo1" class="accordion-collapse collapse show"
                                 aria-labelledby="headingTwo1">
                                <div class="accordion-body card-body">
                                    <ul class="rbt-course-main-content liststyle">

                                        <li>
                                            <a href="lesson.html"
                                               th:href="@{/courses/{courseId}/lecture/{lectureId}(courseId=${course.getId()}, lectureId=${lecture.getId()})}">
                                                <div class="course-content-left">
                                                    <i class="feather-play-circle"></i> <span class="text">Course
                                            Intro</span>
                                                </div>
                                                <div class="course-content-right">
                                                    <span class="rbt-check"><i class="feather-check"></i></span>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="lesson-intro.html"
                                               th:href="@{/courses/{courseId}/lecture/{lectureId}/assignment/show(courseId=${course.getId()}, lectureId=${lecture.getId()})}">
                                                <div class="course-content-left">
                                                    <i class="feather-file-text"></i> <span
                                                        class="text">Assignment</span>
                                                </div>
                                                <div class="course-content-right">
                                                    <span class="rbt-check"><i class="feather-check"></i></span>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="lesson-intro.html"
                                               th:href="@{/courses/{courseId}/lecture/{lectureId}/assignment(courseId=${course.getId()}, lectureId=${lecture.getId()})}">
                                                <div class="course-content-left">
                                                    <i class="feather-file-text"></i> <span class="text">Assignment Submit</span>
                                                </div>
                                                <div class="course-content-right">
                                                    <span class="rbt-check"><i class="feather-check"></i></span>
                                                </div>
                                            </a>
                                        </li>
                                        <br>

                                        <div id="notes-container" class="notes-container">

                                        <textarea id="new-note-content" class="new-note-content" placeholder="Write your new note here..."></textarea>
                                            <button onclick="addNote()" class="rbt-btn rbt-switch-btn no-padding">Add Note</button>


                                            <script>
                                                window.onload = function() {
                                                    loadNotes();
                                                };

                                                // Function to add a new note
                                                function addNote() {
                                                    const content = document.getElementById('new-note-content').value;
                                                    if (content.trim() !== '') {
                                                        const notesContainer = document.getElementById('notes-container');
                                                        const newNote = document.createElement('div');
                                                        newNote.className = 'note';

                                                        const noteContent = document.createElement('textarea');
                                                        noteContent.className = 'note-content';
                                                        noteContent.value = content;
                                                        noteContent.readOnly = true;

                                                        const deleteButton = document.createElement('button');
                                                        deleteButton.className = 'delete-note';
                                                        deleteButton.textContent = 'Delete';
                                                        deleteButton.onclick = function() {
                                                            deleteNote();
                                                        };

                                                        newNote.appendChild(noteContent);
                                                        newNote.appendChild(deleteButton);
                                                        notesContainer.appendChild(newNote);

                                                        saveNotes(); // Save notes to local storage after adding a new note
                                                    }
                                                }
                                                // Function to delete a note
                                                function deleteNote() {
                                                    const note = event.target.parentNode;
                                                    note.parentNode.removeChild(note);
                                                    saveNotes(); // Save notes to local storage after deleting a note
                                                }
                                                // Function to save notes to local storage
                                                function saveNotes() {
                                                    const notes = document.querySelectorAll('.note-content');
                                                    const notesArray = Array.from(notes).map(note => note.value);
                                                    localStorage.setItem('stickyNotes', JSON.stringify(notesArray));
                                                }
                                                // Function to load notes from local storage
                                                function loadNotes() {
                                                    const notesContainer = document.getElementById('notes-container');
                                                    const savedNotes = JSON.parse(localStorage.getItem('stickyNotes'));
                                                    if (savedNotes) {
                                                        savedNotes.forEach(note => {
                                                            const newNote = document.createElement('div');
                                                            newNote.className = 'note';

                                                            const noteContent = document.createElement('textarea');
                                                            noteContent.className = 'note-content';
                                                            noteContent.value = note;
                                                            noteContent.readOnly = true;

                                                            const deleteButton = document.createElement('button');
                                                            deleteButton.className = 'delete-note';
                                                            deleteButton.textContent = 'Delete';
                                                            deleteButton.onclick = function() {
                                                                deleteNote();
                                                            };

                                                            newNote.appendChild(noteContent);
                                                            newNote.appendChild(deleteButton);
                                                            notesContainer.appendChild(newNote);
                                                        });
                                                    }
                                                }
                                            </script>

                                        </div>
<!--                                        <div class="sticky-note">-->
<!--                                            <label>-->
<!--                                                <textarea class="note-content" placeholder="Write your note here..."></textarea>-->
<!--                                            </label>-->
<!--                                            <button class="save-note" onclick="function saveNote() {-->
<!--                                            }-->
<!--                                            saveNote()">Save</button>-->
<!--                                        </div>-->


                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rbt-lesson-rightsidebar overflow-hidden lesson-video">
            <div class="lesson-top-bar" th:fragment="LessonTopBar">
                <div class="lesson-top-left">
                    <div class="rbt-lesson-toggle">
                        <button class="lesson-toggle-active btn-round-white-opacity" title="Toggle Sidebar"><i
                                class="feather-arrow-left"></i></button>
                    </div>
                    <h5 th:text="${lecture.getTitle()}">The Complete Histudy 2023: From Zero to Expert!</h5>
                </div>
                <div class="lesson-top-right">
                    <div class="rbt-btn-close">
                        <a href="course-details.html" title="Go Back to Course" class="rbt-round-btn"><i
                                class="feather-x"></i></a>
                    </div>
                </div>
            </div>
            <div class="inner">
                <div class="plyr__video-embed rbtplayer">
                    <iframe src="https://www.youtube.com/embed/qKzhrXqT6oE" th:src="${lecture.getVideoUrl()}"
                            allowfullscreen allow="autoplay"></iframe>
                </div>
            </div>

            <div class="bg-color-extra2 ptb--15 overflow-hidden">
                <div class="rbt-button-group">

                    <a class="rbt-btn icon-hover icon-hover-left btn-md bg-primary-opacity" href="#">
                        <span class="btn-icon"><i class="feather-arrow-left"></i></span>
                        <span class="btn-text">Previous</span>
                    </a>

                    <a class="rbt-btn icon-hover btn-md" href="#">
                        <span class="btn-text">Next</span>
                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                    </a>

                </div>
            </div>

        </div>




    </div>
</div>




<div class="rbt-progress-parent">
    <svg class="rbt-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
    </svg>
</div>



<!-- JS
============================================ -->
<!-- Modernizer JS -->
<script src="../static/js/vendor/modernizr.min.js" th:src="@{/js/vendor/modernizr.min.js}"></script>
<!-- jQuery JS -->
<script src="../static/js/vendor/jquery.js" th:src="@{/js/vendor/jquery.js}"></script>
<!-- Bootstrap JS -->
<script src="../static/js/vendor/bootstrap.min.js" th:src="@{/js/vendor/bootstrap.min.js}"></script>
<!-- sal.js -->
<script src="../static/js/vendor/sal.js" th:src="@{/js/vendor/sal.js}"></script>
<script src="../static/js/vendor/swiper.js" th:src="@{/js/vendor/swiper.js}"></script>
<script src="../static/js/vendor/magnify.min.js" th:src="@{/js/vendor/magnify.min.js}"></script>
<script src="../static/js/vendor/jquery-appear.js" th:src="@{/js/vendor/jquery-appear.js}"></script>
<script src="../static/js/vendor/odometer.js" th:src="@{/js/vendor/odometer.js}"></script>
<script src="../static/js/vendor/backtotop.js" th:src="@{/js/vendor/backtotop.js}"></script>
<script src="../static/js/vendor/isotop.js" th:src="@{/js/vendor/isotop.js}"></script>
<script src="../static/js/vendor/imageloaded.js" th:src="@{/js/vendor/imageloaded.js}"></script>

<script src="../static/js/vendor/wow.js" th:src="@{/js/vendor/wow.js}"></script>
<script src="../static/js/vendor/waypoint.min.js" th:src="@{/js/vendor/waypoint.min.js}"></script>
<script src="../static/js/vendor/easypie.js" th:src="@{/js/vendor/easypie.js}"></script>
<script src="../static/js/vendor/text-type.js" th:src="@{/js/vendor/text-type.js}"></script>
<script src="../static/js/vendor/jquery-one-page-nav.js" th:src="@{/js/vendor/jquery-one-page-nav.js}"></script>
<script src="../static/js/vendor/bootstrap-select.min.js" th:src="@{/js/vendor/bootstrap-select.min.js}"></script>
<script src="../static/js/vendor/jquery-ui.js" th:src="@{/js/vendor/bootstrap-select.min.js}"></script>
<script src="../static/js/vendor/magnify-popup.min.js" th:src="@{/js/vendor/magnify-popup.min.js}"></script>
<script src="../static/js/vendor/paralax-scroll.js" th:src="@{/js/vendor/paralax-scroll.js}"></script>
<script src="../static/js/vendor/paralax.min.js" th:src="@{/js/vendor/paralax.min.js}"></script>
<script src="../static/js/vendor/countdown.js" th:src="@{/js/vendor/countdown.js}"></script>
<script src="../static/js/vendor/plyr.js" th:src="@{/js/vendor/plyr.js}"></script>
<!-- Main JS -->
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</body>

</html>