<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Student Dashboard - Online Courses & Education Bootstrap5 Template</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.png" th:href="@{/images/favicon.png}">
    <!-- CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/vendor/bootstrap.min.css" th:href="@{/css/vendor/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/vendor/slick.css" th:href="@{/css/vendor/slick.css}">
    <link rel="stylesheet" href="../static/css/vendor/slick-theme.css" th:href="@{/css/vendor/slick-theme.css}">
    <link rel="stylesheet" href="../static/css/plugins/sal.css" th:href="@{/css/plugins/sal.css}">
    <link rel="stylesheet" href="../static/css/plugins/feather.css" th:href="@{/css/plugins/feather.css}">
    <link rel="stylesheet" href="../static/css/plugins/fontawesome.min.css"
          th:href="@{/css/plugins/fontawesome.min.css}">
    <link rel="stylesheet" href="../static/css/plugins/euclid-circulara.css"
          th:href="@{/css/plugins/euclid-circulara.css}">
    <link rel="stylesheet" href="../static/css/plugins/swiper.css" th:href="@{/css/plugins/swiper.css}">
    <link rel="stylesheet" href="../static/css/plugins/magnify.css" th:href="@{/css/plugins/magnify.css}">
    <link rel="stylesheet" href="../static/css/plugins/odometer.css" th:href="@{/css/plugins/odometer.css}">
    <link rel="stylesheet" href="../static/css/plugins/animation.css" th:href="@{/css/plugins/animation.css}">
    <link rel="stylesheet" href="../static/css/plugins/bootstrap-select.min.css"
          th:href="@{/css/plugins/bootstrap-select.min.css}">
    <link rel="stylesheet" href="../static/css/plugins/jquery-ui.css" th:href="@{/css/plugins/jquery-ui.css}">
    <link rel="stylesheet" href="../static/css/plugins/magnigy-popup.min.css"
          th:href="@{/css/plugins/magnigy-popup.min.css}">
    <link rel="stylesheet" href="../static/css/plugins/plyr.css" th:href="@{/css/plugins/plyr.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>

<body>
<!-- Start Header Area -->
<header class="rbt-header rbt-header-10" th:fragment="HeaderStudent">
    <div class="rbt-sticky-placeholder"></div>
    <div class="rbt-header-wrapper header-space-betwween header-sticky">
        <div class="container-fluid">
            <div class="mainbar-row rbt-navigation-center align-items-center">
                <div class="header-left rbt-header-content">
                    <div class="header-info">
                        <div class="logo mb-3 mt-3">
                            <a href="index.html" th:href="@{/users}">
                                <img src="../static/images/logo/logo.png" th:src="@{/images/logo/logo.png}"
                                     alt="Education Logo Images">
                            </a>
                        </div>
                    </div>
                </div>


                <div class="header-right">

                    <!-- Navbar Icons -->
                    <ul class="quick-access">

                        <li class="account-access rbt-user-wrapper d-none d-xl-block">
                            <a href="#"><i class="feather-user"></i>Profile</a>
                            <div class="rbt-user-menu-list-wrapper">
                                <div class="inner">
                                    <div class="rbt-admin-profile">
                                        <div class="admin-thumbnail">
                                            <img src="../static/images/team/avatar.jpg"
                                                 th:src="${loggedIn.getProfilePictureUrl()}" alt="User Images">
                                        </div>
                                        <div class="admin-info">
                                            <span class="name"
                                                  th:text="${loggedIn.firstName} + ' ' + ${loggedIn.lastName}"></span>
                                            <a class="rbt-btn-link color-primary" href="profile.html"
                                               th:href="@{/users/profile}">View Profile</a>
                                        </div>
                                    </div>
                                    <ul class="user-list-wrapper">
                                        <li>
                                            <a href="instructor-dashboard.html" th:href="@{/users}">
                                                <i class="feather-home"></i>
                                                <span>My Dashboard</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="instructor-enrolled-courses.html" th:href="@{/courses/enrolled}">
                                                <i class="feather-shopping-bag"></i>
                                                <span>Enrolled Courses</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <hr class="mt--10 mb--10">
                                    <ul class="user-list-wrapper">
                                        <li>
                                            <a href="ProfileSettings.html" th:href="@{/users/update}">
                                                <i class="feather-settings"></i>
                                                <span>Settings</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="index.html" th:href="@{/auth/logout}">
                                                <i class="feather-log-out"></i>
                                                <span>Logout</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>


                    </ul>
                    <div class="rbt-btn-wrapper d-none d-xl-block">
                        <a class="rbt-btn rbt-marquee-btn marquee-auto btn-border-gradient radius-round btn-sm hover-transform-none" href="#">
                            <span data-text="Enroll Now">Enroll Now</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <a class="rbt-close_side_menu" href="javascript:void(0);"></a>
</header>
<!-- Mobile Menu Section -->
<a class="close_side_menu" href="javascript:void(0);"></a>
<div class="rbt-page-banner-wrapper">
    <!-- Start Banner BG Image  -->
    <div class="rbt-banner-image"></div>
    <!-- End Banner BG Image  -->
</div>
<!-- Start Card Style -->
<div class="rbt-dashboard-area rbt-section-overlayping-top rbt-section-gapBottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Start Dashboard Top  -->
                <div class="rbt-dashboard-content-wrapper" th:fragment="DashboardTopStudent">
                    <div class="tutor-bg-photo bg_image bg_image--23 height-350"></div>
                    <!-- Start Tutor Information  -->
                    <div class="rbt-tutor-information">
                        <div class="rbt-tutor-information-left">
                            <div class="thumbnail rbt-avatars size-lg">
                                <img src="../static/images/team/avatar-2.jpg"
                                     th:src="${loggedIn.getProfilePictureUrl()}" alt="Instructor">
                            </div>
                            <div class="tutor-content">
                                <h5 class="title" th:text="${loggedIn.firstName} + ' ' + ${loggedIn.lastName}">Emily
                                    Hannah</h5>
                                <ul class="rbt-meta rbt-meta-white mt--5">
                                    <li class="feather-book"></li><li th:text="${loggedIn.getCourses().size()} + ' Courses Enrolled'"> Courses Enrolled</li>
                                </ul>
                            </div>
                        </div>
<!--                        <div class="rbt-tutor-information-right">-->
<!--                            <div class="tutor-btn">-->
<!--                                <a class="rbt-btn btn-md hover-icon-reverse" href="BecomeATeacher.html">-->
<!--                                        <span class="icon-reverse-wrapper">-->
<!--                                        <span class="btn-text">Become an Instructor</span>-->
<!--                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>-->
<!--                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>-->
<!--                                        </span>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                    <!-- End Tutor Information  -->
                </div>
                <!-- End Dashboard Top  -->

                <div class="row g-5">
                    <div class="col-lg-3" th:fragment="dashboardSidebarStudent">
                        <!-- Start Dashboard Sidebar  -->
                        <div class="rbt-default-sidebar sticky-top rbt-shadow-box rbt-gradient-border">
                            <div class="inner">
                                <div class="content-item-content">

                                    <div class="rbt-default-sidebar-wrapper">
                                        <div class="section-title mb--20">
                                            <h6 class="rbt-title-style-2"
                                                th:text="'Welcome, ' + ${loggedIn.firstName} + ' ' + ${loggedIn.lastName}">
                                                Welcome, Jone Due</h6>
                                        </div>
                                        <nav class="mainmenu-nav">
                                            <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                                <li><a href="student-dashboard.html" th:href="@{/users}"><i class="feather-home"></i><span>Dashboard</span></a></li>
                                                <li><a href="student-profile.html" th:href="@{/users/profile}"><i class="feather-user"></i><span>My Profile</span></a></li>
                                                <li><a href="student-enrolled-courses.html" th:href="@{/courses/enrolled}"><i
                                                        class="feather-clipboard"></i><span>Enrolled Courses</span></a></li>
                                                <li><a href="student-enrolled-courses.html" th:href="@{/courses/assignments/user/{userId}(userId=${loggedIn.getId()})}"><i
                                                        class="feather-book-open"></i><span>My Assignments</span></a></li>
                                                <li>
                                                    <a href="UserNotes.html"
                                                       th:href="@{/users/myNotes}"><i class="feather-list"></i>
                                                        <span>My Notes</span></a></li>
                                                <li><a href="student-enrolled-courses.html" th:href="@{/users/reviews}"><i class="feather-star"></i><span>My Reviews</span></a></li>
                                                <li><a href="student-enrolled-courses.html" th:href="@{/users/invite}"><i class="feather-user-plus"></i><span>Invite Friend</span></a></li>


                                            </ul>
                                        </nav>

                                        <div class="section-title mt--40 mb--20">
                                            <h6 class="rbt-title-style-2">User</h6>
                                        </div>

                                        <nav class="mainmenu-nav">
                                            <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                                <li><a href="ProfileSettings.html" th:href="@{/users/update}"><i
                                                        class="feather-settings"></i><span>Settings</span></a></li>
                                                <li><a href="index.html" th:href="@{/auth/logout}"><i
                                                        class="feather-log-out"></i><span>Logout</span></a></li>
                                            </ul>
                                        </nav>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- End Dashboard Sidebar  -->
                    </div>

                    <div class="col-lg-9">
                        <div class="rbt-dashboard-content bg-color-white rbt-shadow-box mb--60">
                            <div class="content">
                                <div class="section-title">
                                    <h4 class="rbt-title-style-3">Dashboard</h4>
                                </div>
                                <div class="row g-5">

                                    <!-- Start Single Card  -->
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                        <div class="rbt-counterup variation-01 rbt-hover-03 rbt-border-dashed bg-primary-opacity">
                                            <div class="inner">
                                                <div class="rbt-round-icon bg-primary-opacity">
                                                    <i class="feather-book-open"></i>
                                                </div>
                                                <div class="content">
                                                    <h3 class="counter without-icon color-primary"><span
                                                            class="odometer" th:data-count="${loggedIn.getCourses().size()}">00</span>
                                                    </h3>
                                                    <span class="rbt-title-style-2 d-block">Enrolled Courses</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Card  -->

                                    <!-- Start Single Card  -->
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                        <div class="rbt-counterup variation-01 rbt-hover-03 rbt-border-dashed bg-secondary-opacity">
                                            <div class="inner">
                                                <div class="rbt-round-icon bg-secondary-opacity">
                                                    <i class="feather-monitor"></i>
                                                </div>
                                                <div class="content">
                                                    <h3 class="counter without-icon color-secondary"><span
                                                            class="odometer" th:data-count="${activeCourses.size()}">00</span>
                                                    </h3>
                                                    <span class="rbt-title-style-2 d-block">ACTIVE COURSES</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- End Single Card  -->

                                    <!-- Start Single Card  -->
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                        <div class="rbt-counterup variation-01 rbt-hover-03 rbt-border-dashed bg-violet-opacity">
                                            <div class="inner">
                                                <div class="rbt-round-icon bg-violet-opacity">
                                                    <i class="feather-award"></i>
                                                </div>
                                                <div class="content">
                                                    <h3 class="counter without-icon color-violet"><span class="odometer" th:data-count="${completedCourses.size()}">00</span>
                                                    </h3>
                                                    <span class="rbt-title-style-2 d-block">Completed Courses</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Card  -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Card Style -->
<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>
<div class="rbt-progress-parent">
    <svg class="rbt-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
    </svg>
</div>

<!-- JS
============================================ -->
<!-- Modernizer JS -->
<script src="../static/js/vendor/modernizr.min.js" th:src="@{/js/vendor/modernizr.min.js}"></script>
<!-- jQuery JS -->
<script src="../static/js/vendor/jquery.js" th:src="@{/js/vendor/jquery.js}"></script>
<!-- Bootstrap JS -->
<script src="../static/js/vendor/bootstrap.min.js" th:src="@{/js/vendor/bootstrap.min.js}"></script>
<!-- sal.js -->
<script src="../static/js/vendor/sal.js" th:src="@{/js/vendor/sal.js}"></script>
<script src="../static/js/vendor/swiper.js" th:src="@{/js/vendor/swiper.js}"></script>
<script src="../static/js/vendor/magnify.min.js" th:src="@{/js/vendor/magnify.min.js}"></script>
<script src="../static/js/vendor/jquery-appear.js" th:src="@{/js/vendor/jquery-appear.js}"></script>
<script src="../static/js/vendor/odometer.js" th:src="@{/js/vendor/odometer.js}"></script>
<script src="../static/js/vendor/backtotop.js" th:src="@{/js/vendor/backtotop.js}"></script>
<script src="../static/js/vendor/isotop.js" th:src="@{/js/vendor/isotop.js}"></script>
<script src="../static/js/vendor/imageloaded.js" th:src="@{/js/vendor/imageloaded.js}"></script>

<script src="../static/js/vendor/wow.js" th:src="@{/js/vendor/wow.js}"></script>
<script src="../static/js/vendor/waypoint.min.js" th:src="@{/js/vendor/waypoint.min.js}"></script>
<script src="../static/js/vendor/easypie.js" th:src="@{/js/vendor/easypie.js}"></script>
<script src="../static/js/vendor/text-type.js" th:src="@{/js/vendor/text-type.js}"></script>
<script src="../static/js/vendor/jquery-one-page-nav.js" th:src="@{/js/vendor/jquery-one-page-nav.js}"></script>
<script src="../static/js/vendor/bootstrap-select.min.js" th:src="@{/js/vendor/bootstrap-select.min.js}"></script>
<script src="../static/js/vendor/jquery-ui.js" th:src="@{/js/vendor/bootstrap-select.min.js}"></script>
<script src="../static/js/vendor/magnify-popup.min.js" th:src="@{/js/vendor/magnify-popup.min.js}"></script>
<script src="../static/js/vendor/paralax-scroll.js" th:src="@{/js/vendor/paralax-scroll.js}"></script>
<script src="../static/js/vendor/paralax.min.js" th:src="@{/js/vendor/paralax.min.js}"></script>
<script src="../static/js/vendor/countdown.js" th:src="@{/js/vendor/countdown.js}"></script>
<script src="../static/js/vendor/plyr.js" th:src="@{/js/vendor/plyr.js}"></script>
<!-- Main JS -->
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</body>

</html>